@model string

<div class="alert alert-success alert-dismissible fade show" role="alert">
  Successfully inserted author <strong>@Model</strong>! Go Back to the <a href="/" class="alert-link">main age!</a>
</div>
